/InitActivity/bin/
/InitActivity/gen/
/library_SlidingMenu/bin/
/library_SlidingMenu/gen/
/social_sdk_library_project/bin/
/social_sdk_library_project/gen/
/KankanNews/bin/
/KankanNews/gen/
/KankanNews/proguard/
/appcompat/bin/
/appcompat/gen/
/ijkmediademo/bin/
/ijkmediademo/gen/
/ijkmediaplayer/bin/
/ijkmediaplayer/gen/
/ijkmediawidget/bin/
/ijkmediawidget/gen/
